.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.camera {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:10px;
  width:90%;
  margin:15px 5% 0 5%;
  box-shadow: rgba(10, 16, 20, 0.24) 0px 2px 5px;
  overflow:hidden;
}

.example-section {
  margin: 10px 10px;
}

.example-margin {
  margin: 0 10px;
}