<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{title}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav color="accent" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"  [opened]="mobileQuery.matches ? 'false' : 'true'">
      <mat-nav-list>
        <div class="nav-link-group">
          <a mat-list-item routerLink="/basic">Basic Virtual Scrolling</a>
          <a mat-list-item routerLink="." class="sub-nav-link">Criar Nova</a>
        </div>
        <div class="nav-link-group">
          <a mat-list-item routerLink=".">Encomendas</a>
          <a mat-list-item routerLink="." class="sub-nav-link">Histórico</a>
        </div>
        <div class="nav-link-group">
          <a mat-list-item routerLink=".">Stock</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!--<p *ngFor="let content of fillerContent">{{content}}</p>-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>