<ng-container>
	<cdk-virtual-scroll-viewport itemSize="100">
		<mat-card *cdkVirtualFor="let p of products;">
			<mat-card-header>
				<mat-card-title>{{ p.name }}</mat-card-title>
				<mat-card-subtitle>{{ p.description }}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p>Cost: {{ p.price | currency }}</p>
        <p>Weight: {{ p.weight }}</p>
        <p>Quantity: {{ p.quantity }}</p>
			</mat-card-content>
		</mat-card>

		<!--<li *cdkVirtualFor="let p of people;" class="animated slideInRight">
    <h2>{{ p.emoji }} {{ p.name }}</h2>
    <p> {{ p.bio }} </p>
  </li>-->
	</cdk-virtual-scroll-viewport>
</ng-container>