<ng-container>
  <div class="basic-pagination-scroll-container" *ngIf="visibleProducts.length">
    <ng-container *ngFor="let product of visibleProducts;"> 
      <app-product-card class="product-card" [product]="product"></app-product-card> 
    </ng-container>
  </div>
  <div class="nav-buttons" *ngIf="visibleProducts.length">
    <button [disabled]="disablePrevious()" mat-raised-button color="primary" (click)="getPrevious()">Previous</button>
    <span>{{this.currentOffset}} through {{this.currentOffset + this.currentLimit}}</span>
    <button [disabled]="disableNext()" mat-raised-button color = "primary" (click)="getNext()">Next</button>
  </div>
  <div *ngIf="!visibleProducts.length">No products to display</div>
</ng-container>