.basic-pagination-scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vh auto;
  margin-top: 20px;

  .example-card {
    width: 400px;
    margin-bottom: 20px;
  }

}
.nav-buttons{
  display: flex;
  justify-content: space-between;
  margin: 1vh auto;
  width: 80vw;
  button {
    width: 100px;
  }
}